body {
  height: 100vh;
  overflow: hidden;
  background-color: hsl(187deg 54% 68%);
}

.main {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
}

form {
  background-color: hsl(23, 99%, 75%);
  padding: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: auto;
  width: calc(500px - 10vw);
  text-align: center;
}

form input {
  margin: 1rem;
  height: 50%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: calc(25px - 0.5vw);
}

form .button {
  margin-top: 2rem;
  background-color: #4CAF50;
  cursor: pointer;
}

form a {
  text-decoration: none;
  color: grey;
  font-size: calc(30px - 0.5vw);
}

form a:hover {
  color: hotpink;
  text-decoration: underline;
}

img {
  margin-top: 5vh;
}
