<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Komitid</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  </head>
  <body>
    <div class="main">
      <img src="{{ url_for('static', filename='images/dnon.svg') }}">

      <form action="/" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input class="button" type="submit" name="login" value="Login">
        <a href="/signup">Create a new account</a>
      </form>
    </div>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
